//============= COLORS =============//
$background-gray-light:#f8fafc;
$primary-color: #53bcff;
$button-color: #f9af03;
$button-hover-color: #ffbf2b;
$text-color: #333333;
$text-color-muted: #b9bac5;
$link-color: #00a3ff;

//============= TOAST COLORS =============//
$error-toast-color: #721c24;
$error-toast-bg-color: #f8d7da;
$success-toast-color: #57db68;
$success-toast-bg-color: #d3f3d9;

//========== FONT FAMILIES ============//
$font-family-standard: 'Poppins', 'sans-serif';

//========== FONT SIZES ============//
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.7rem;

//========== FONT WEIGHTS ============//
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-regular: 600;
$font-weight-bold: 700;

//========== BORDER RADIUS ============//
$border-radius-small: 5px;
$border-radius-standard: 10px;
$border-radius-huge: 100px;

//============= PADDING ================//
$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 20px;
$padding-xl: 40px;

//============= MARGIN ================//
$margin-xs: 5px;
$margin-small: 10px;
$margin-medium: 15px;
$margin-large: 20px;
$margin-xl: 30px;
$margin-xxl: 40px;

//============= CONTAINER WIDTHS ================//
$container-width-mobile: 100%;
$container-width-small: 690px;
$container-width-medium: 768px;
$container-width-large: 1024px;
