<section class="feedback-section">
  <app-feedback-form />

  <div class="call-to-action-container inner-container">
    <h2 class="title">Wat te doen als je je huis zelf verkoopt of verhuurt?</h2>
    <p class="info-text">
      Twijfel je hoe je moet beginnen aan de verkoop of verhuur van je woning? Geen nood. We begrijpen dat dit een
      spannende periode is en we willen je hier graag bij helpen.</p>
    <p class="info-text">Daarom gidsen we je door het proces met een overzichtelijk stappenplan. Zo kan je zonder
      zorgen je woning te
      koop
      of te huur aanbieden. Het enige wat je nog moet doen, is beslissen of je wil verhuren of verkopen!</p>
    <div class="action-buttons-container">
      <button class="action-button">Verkoop</button>
      <button class="action-button">Verhuur</button>
    </div>
  </div>
  
</section>

<app-blogs-list />