@import 'variables';

.blogs-section {
  background-color: $background-gray-light;
  padding: $padding-large;

  .blogs-container {
    max-width: $container-width-large;
    margin: auto;
    text-align: center;

    .title {
      font-weight: $font-weight-medium;
      font-size: $font-size-title;
    }

    .blog-items {
      display: flex;
      margin-top: $margin-xl;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
